.wrap{
  width: 1360px

}

#header{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.h1doko{
  font-weight: bold;
}

.hikouki{
  width: 300px;
  height: 30px;
}

.main{
  width: 100vw;
  height: 250px;
  background-image: url(https://ae01.alicdn.com/kf/HTB13ACvRVXXXXX4XFXXq6xXFXXXn/%E3%82%A2%E3%83%95%E3%83%AA%E3%82%AB%E3%81%AE%E3%82%B5%E3%83%90%E3%83%B3%E3%83%8A%E8%87%AA%E7%84%B6%E9%A2%A8%E6%99%AF%E5%B1%B1%E9%BB%84%E8%8D%89KB631%E3%83%AA%E3%83%93%E3%83%B3%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%A0%E3%83%9B%E3%83%BC%E3%83%A0%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB%E7%8F%BE%E4%BB%A3%E3%82%A2%E3%83%BC%E3%83%88%E3%81%AE%E8%A3%85%E9%A3%BE%E6%9C%A8%E6%9D%90%E3%83%95%E3%83%AC%E3%83%BC%E3%83%A0%E3%83%9D%E3%82%B9%E3%82%BF%E3%83%BC%E5%8D%B0%E5%88%B7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainp{
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: cursive;
  font-weight: bold;
  color:#2E2E2E;
}

.buttondiv{
  text-align: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 300px;
  height: 150px;
  margin: auto;
}

.kokobutton{
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #58ACFA;
  border-radius: 6px;
  border: 2px solid #58ACFA;
  border-bottom: solid 4px #627295;
  line-height: 30px;

}

.kokobutton:hover{
  background-color: #fff;
  border-color: #59b1eb;
  border: 2px solid #59b1eb;
  line-height: 30px;
  border-bottom: solid 4px #59b1eb;
}

.kokobutton:active{
  background-color: #bdbdbd;
  border-color: #59b1eb;
  border: 2px solid #59b1eb;
  line-height: 30px;
}

.button{
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: メイリオ;
  color: white;
}

.button:hover{
  color: #59b1eb;
}

.button:active{
  color:white;
}

#fotter{
  width: 100vw;
  height: 70px;
  background-color: #A9D0F5;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
